@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*============================= GLOBAL STYLES =================================*/
.light {
    --main-background: hsl(0, 0%, 98%);
    --hero-background: url('../images/bg-desktop-light.jpg');
    --todo-background: #fff;
    --item-color: hsl(235, 19%, 35%);
    --todo-shadow: 0px 15px 50px -20px hsl(235, 19%, 35%);
    --border-color: #eee;
    --inactive-item-color: hsl(233, 11%, 84%);
    --footer-text-color: #000;
}

.dark {
    --main-background: hsl(235, 21%, 11%);
    --hero-background: url('../images/bg-desktop-dark.jpg');
    --todo-background: hsl(235, 24%, 19%);
    --item-color: hsl(234, 39%, 85%);
    --todo-shadow: none;
    --border-color: hsl(237, 14%, 26%);
    --inactive-item-color: hsl(234, 11%, 52%);
    --footer-text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: var(--main-background);
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bold {
    font-weight: 700;
}

.hero {
    height: 300px;
    background-image: var(--hero-background);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

.container {
    max-width: 540px;
    margin-inline: auto;
}

.title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 400;
}

.theme_switcher {
   height: 30px;
   aspect-ratio: 1;
   background-image: url('../images/icon-moon.svg');
   background-repeat: no-repeat;
   background-size: cover;
}

body.dark .theme_switcher {
    background-image: url('../images/icon-sun.svg');
}


/*============================== CARD STYLES ============================= */

.todo__input {
    width: 100%;
    background-color: var(--todo-background);
    color: var(--item-color);
    padding: 20px;
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.6;
    outline: transparent;
    border-radius: 5px;
    border: none;
    margin: 40px 0 20px;
}

.todo__content {
    max-height: 300px;
    border-radius: 5px;
    box-shadow: var(--todo-shadow);
    overflow-y: scroll;
}

.todo__list {
    list-style: none;
    padding: 0;
}

.todo__item {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--todo-background);
    padding: 15px 20px;
    line-height: 1.6;
    color: var(--item-color);
    user-select: none;
    cursor: move;
}

.todo__item.drag-over {
    border: 2px dashed #ccc;
}

.todo__item.removing {
    transition: transform .4s;
    transform: translateX(-100%) scale(0.5);
}

label, input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin-right: 1em;
    vertical-align: middle;
}


input[type="checkbox"]:checked {
    background: url('../images/icon-check.svg'), linear-gradient(-45deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"] + span {
    background: linear-gradient(var(--inactive-item-color), var(--inactive-item-color));
    background-position: 0 50%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: all .3s;
}


input[type="checkbox"]:checked + span {
    background-size: 100% 2px;
    color: var(--inactive-item-color);
}

.todo__item > button[data-type="remove"] {
    height: 25px;
    width: 25px;
    background: url('../images/icon-cross.svg') no-repeat center;
}

@media (any-hover: hover) {
    .todo__item > button[data-type="remove"] {
        opacity: 0;
        transition: opacity .2s;
    }

    .todo__item:hover > button[data-type="remove"] {
        opacity: 1;
    }
}

.todo__footer {
    background-color: var(--todo-background);
    border-radius: 5px;
    box-shadow: var(--todo-shadow);
    padding: 20px;
    color: hsl(236, 9%, 61%);
}

.btn {
    color: hsl(236, 9%, 61%);
    font-family: inherit;
    font-size: 1rem;
}
.btn.active {
    color: hsl(220, 98%, 61%);
}
.btn:hover {
    color: var(--item-color);
}

.attribution {
    color: var(--footer-text-color);
    line-height: 1.6;
    text-align: center;
    margin-top: 100px;
}

.attribution a {
    color: hsl(220, 98%, 61%);
}